html * {
    position: relative;
    margin: 0;
}

body {
    max-height: 100%;
    width: 100%;
    position: relative;   
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#188581;
    padding: 1em;
    align-content: space-around;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.imgCabecalho1 {
    max-width: size;
    object-fit: cover;
    align-self: flex-end;
}

.imgCabecalho2 {
    max-width: size;
    object-fit: cover;
    align-self: flex-start;
}

.wrapper {
    position: relative;
    margin: 3rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1%;
    margin: 3%;
}

.cardItem {
    max-width: 100%;
    background: #E8EFFF;
    border: 0.015rem #E8EFFF;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 1rem;
    padding: 1.7rem;
}

.cardImage {
    width: 9rem;
    height: 9rem;
    border-radius: 25%;
    box-shadow: 0 0.25rem #4D6AB1;
    justify-content: stretch;
}

.cardName {
    padding: 2%;
    font-size: 18px;
    text-transform: lowercase;
}

.cardName:first-letter {
    text-transform: uppercase;
}

.cardPrice {
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    text-align: right;
}

.cardType {
    width: 100%;
    padding: 2%;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
}

.a3 {
    font-family: "Roboto", sans-serif;
    color: #0000EE;
    text-decoration: underline;   
}

.footer {
    position: relative;
}

#assoc {
    font-weight: bold;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

a {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

.icon {
    max-width: 35px;
    overflow: hidden;
    vertical-align: middle;
    padding: 0.3em;
}

.rodape {
    display: grid;
    float: flex;
    width: 100%;
    background-color:#007CB5;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    padding: 0.3em;

}

.header {
    margin-block-start: 3rem;
    display: grid;
    float: flex;
    width: 100%;
    background-color: #418D89;
    grid-template-columns: 1fr;
    grid-row: repeat(2, 1fr);
    padding: 0.3em;
}

#fontHeader {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    padding: 0.3em;
}

#textRodape {
    padding: 0.3em;
    text-align: left;
}

.a2 {
    font-family: "Roboto", sans-serif;
    color:#424242;
    text-align: right;
    text-decoration: none;   
}

.a4 {
    font-family: "Roboto", sans-serif;
    color:#424242;
    text-align: center;
    text-decoration: none;   
}

@media(max-width:480px){
.anuncios {
    grid-template-columns: repeat(1, 1fr);
}

.rodape {
    grid-template-columns: repeat(1, 1fr);
}
}

#sliders {
    list-style: none;  
    position: relative; 
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    margin: 0 auto;
}

#sliders li{
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

#sliders li.slider-active{
	z-index: 1;
    opacity: 1;
}