body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
}

.cabecalho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    background-color: #ff5a5f;
    column-gap: 10px;
    width: 100%;
    max-height: 215px;
    padding: 0.3%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    justify-content: space-between;
    align-content: space-around;
}

.imgCabecalho {
    max-width: 100%;
    object-fit: cover;
}

.imgCabecalho1 {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}

#fontCabecalho {
    padding-top: 3px;
    font-family: 'Noto JC', sans-serif;
    font-size: 8rem;
    font-weight: bold;
    color: #f5f5f5;
    text-align: center;

}

.wrapper {
    position: relative;
    margin: 3rem;
}

#cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    background-color: #ff5a5f;
    column-gap: 10px;
    width: 100%;
    max-height: 215px;
    padding: 0.3%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    justify-content: space-between;
    align-content: space-around;
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    // grid-gap: 10px;
    // margin: 3%;
    // margin-bottom: 30px;
  }

.footer {
    height: 10%;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

a {
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    text-decoration: none;
}

.icon {
    width: 35px;
    height: 35px;
    overflow: hidden;
    vertical-align: middle;
    padding-right: 2px;
}

.rodape {
    display: grid;
    float: flex;
    width: 100%;
    background-color: #f06e6e;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0.3%;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
}

.header {
    margin-top: 3%;
    display: grid;
    float: flex;
    width: 100%;
    grid-column: 100%;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    background-color: #f08484;

}

#fontHeader {
    text-align: center;
    padding: 0.3%;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
}

#textRodape {
    padding-left: 50px;
    text-align: left;
}

.a2 {
    font-family: "Roboto", sans-serif;
    color: #e82a2a;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
}

#assoc {
    text-transform: uppercase;
    font-weight: bold;
}

.cardItem {
    max-width: 100%;  
    margin-bottom: 0;
    background: rgba(232, 40, 2, 0.25);
    padding: 2%;
    margin-right: 3%;  
    border: 1px rgba(232, 40, 2, 0.25);
    border-radius: 0 20px 0 20px;  
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.cardImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.cardName {
    font-size: 18px;
    text-transform: lowercase;
}

.cardName:first-letter {
    text-transform: uppercase;
}
  
.cardPrice {
    margin-bottom: 0.5%;
    text-align: right;
}

.cardType {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

#sliders {
	list-style: none;  
	position: relative; 
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    margin: 0 auto;
}

#sliders li{
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

#sliders li.slider-active{
	z-index: 1;
	opacity: 1;
}
