html * {
    position: relative;
    margin: 0;
}

body {
    max-height: 100%;
    width: 100%;
    position: relative;   
}

.Cabecalho {
position: relative;
}

.row {
    display: grid;
    max-width: 100%;
    grid-template-columns: 2, 1fr;
    grid-gap: 3%;
    padding: 0.3em;
    background-color: #0047AB;
    background-image: linear-gradient( to right, black, transparent, #0047AB );
    margin: 0;
    justify-content: center;
    align-items: center;
}

.column {
    align-items: middle center;
    padding: 0.3em;
    margin: 0;
}

.imgCabecalho1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.imgCabecalho2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    align-content: flex-end;
}

.wrapper {
    position: relative;
    margin: 3rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3em;
    margin: 0.5em;
}

.cardItem {
    max-width: 100%;
    background: #E8EFFF;
    border: 0.015rem #E8EFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    font-size: 1rem;
    padding: 0.3rem;
    box-shadow: 3px 2px 0px 0px rgba(77, 106, 177, 0.35);
}

.cardImage {
    display: block;
    width: 100%;
    height: 9rem;
    justify-content: justify;
    -webkit-perspective: 600;
}

.cardName {
    padding: 0.3em;
    font-size: 18px;
    text-transform: lowercase;
}

.cardName:first-letter {
    text-transform: uppercase;
}

.cardPrice {
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    text-align: right;
    font-size: 18px;
}

.cardType {
    width: 100%;
    padding: 0.3em;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    padding: 0.3em;
}

.footer {
    position: relative;
}

#assoc {
    font-weight: bold;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}


a, a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    border: none;
    box-shadow: none;
    color: inherit;
}

.rodape {
    display: grid;
    float: flex;
    max-width: 100%;
    background-color: #041121;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    padding: 0.3em;
    margin: 0;

}

.header {
    margin-block-start: 3rem;
    display: grid;
    float: flex;
    width: 100%;
    background-color: #418D89;
    grid-template-columns: 1fr;
    grid-row: repeat(2, 1fr);
    padding: 0.3em;
}

#fontHeader {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    padding: 0.3em;
}

#textRodape {
    padding: 0.3em;
}

@media screen and (max-width: 576px){
.row {
    display: none;
    background-color: #ffffff;
}

.imgCabecalho1 {
    display: none;
}

.imgCabecalho2 {
    align-content: stretch !important;
}

#cards {
     grid-template-columns: repeat(1, 1fr);
}

.header {
     grid-template-columns: repeat(1, 2fr);
}

.rodape {
    grid-template-columns: repeat(1, 1fr);
}
}

#sliders {
    list-style: none;  
    position: relative; 
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    margin: 0 auto;
}

#sliders li{
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

#sliders li.slider-active{
	z-index: 1;
    opacity: 1;
}

.fa {  
padding: 20px;  
text-align: right !important;  
margin: 0.3%;  
max-width: 100%;
color: white;
offset: inherit;
}  

#column1 {
    display: inline-block;
    text-align: center;
}

#column2 {
    display: inline-block;
    text-align: center;
}
